.enter-site__submit {
  width: 260px;
  height: 46px;
  background: #FFFFFF;
  border-radius: 2px;
  margin: 0 auto;
  border: none;
}

.enter-site__submit:hover {
  cursor: pointer;
  opacity: 0.85;
}

@media screen and (min-width: 880px) {
  .enter-site__submit {
    width: 358px;
    height: 50px;
  }
}