.card__image {
    width: 282px;
    height: 282px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    display: block;
}

.card__image:hover {
    cursor: pointer;
}